body {
    background-image: url('erikrudicbackground.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

.icon {
    border-radius: 50%;
    height: 215px;
    width: 215px;
}

img {
    padding: 5px;
}

h1{
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

h2{
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

h3{
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

h4{
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

h5{
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

h6{
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

.socials{
    height:55px;
    width:55px;
}

.circle {
    border-radius: 50%;
    padding: 35px;
}

* {
    --bs-gutter-x: 0 !important;
  }

.whitetext {
    color: white;
}

.card {
    background-color: black;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}